{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <!-- Vertical navigation specific for this page -->
    <nav class="nav flex-column bg-light border rounded-3 p-3 mb-3">
      <span class="fw-bold mb-2">Users menu</span>
      <a class="nav-link px-0" href="{{ url_for('users.greetings', name='John', age=30) }}">Greet John</a>
      <a class="nav-link px-0" href="{{ url_for('users.admin') }}">Admin</a>
      <a class="nav-link px-0" href="{{ url_for('resume') }}">Back to resume</a>
    </nav>
  </div>
  <div class="col-md-9">
    <h1 class="mb-3">Hello :)</h1>
    <p class="fs-4">
      User:
      <strong>{{ name.upper() }}</strong>
    </p>

    {% if age %}
      <p class="fs-5">
        Age:
        <span class="text-success">{{ age }}</span>
      </p>
    {% else %}
      <p class="fs-5">
        Age:
        <span class="text-danger">Not provided</span>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
