<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.resume') }}">Резюме</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.contact') }}">Контакти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('products.list_products') }}">Ноутбуки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users.profile') }}">Профіль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users.login') }}">Вхід</a>
    </li>
</ul>